{% extends "map/base.html" %}

{% block extra_head %}

{# TODO:ここでflatpickrを読み込む。#}
{# https://noauto-nolife.com/post/flatpickr-install/ #}

{% endblock %}


{% block main %}
<main class="container">

    <form action="" method="POST">
        {% csrf_token %}
        <h3>お名前の設定</h3>
        <div class="row my-2">
            <div class="col-auto">
                <input class="form-control" type="text" name="last_name" placeholder="姓" value="{{ request.user.last_name }}">
            </div>
            <div class="col-auto">
                <input class="form-control" type="text" name="first_name" placeholder="名" value="{{ request.user.first_name }}">
            </div>
        </div>
        <input class="form-control" type="submit" value="送信">
    </form>

    <form action="" method="POST">
        {% csrf_token %}
        <h3>ニックネーム</h3>
        <input type="text" name="nickname" value="{{ request.user.nickname }}">

        <h3>アイコン</h3>
        
        {% if request.user.icon %}
        <div><img src="{{ request.user.icon.url }}" alt="アイコン"></div>
        {% endif %}

        <input type="file" name="icon">

        <h3>誕生日</h3>
        <input type="text" name="birthday" value="{{ request.user.birthday }}">

        <h3>自己紹介文</h3>
        <textarea name="introduction">{{ request.user.introduction }}</textarea>

        <h3>性別</h3>
        <select name="sex">
            <option value="" {% if "" == request.user.sex %}selected{% endif %}>未指定</option>
            {% for s in sex %}
            <option value="{{ s }}" {% if s == request.user.sex %}selected{% endif %}>{{ s }}</option>
            {% endfor %}
        </select>

        <h3>都道府県</h3>

        <select name="prefecture">
            <option value="" {% if "" == request.user.prefecture %}selected{% endif %}>未指定</option>
            {% for p in prefecture %}
            <option value="{{ p }}" {% if p == request.user.prefecture %}selected{% endif %}>{{ p }}</option>
            {% endfor %}
        </select>

        <input class="form-control" type="submit" value="送信">
    </form>

</main>
{% endblock %}

